body {
  margin: 0;
  text-align: center;

  animation: reload 0.5s ease-in;
  opacity: 1;
}

.App {
  max-width: 1400px;
  min-height: 100vh;

  margin: 2px auto;
}

@keyframes reload {
  0% {
    opacity: 0;
  } 
  100% {
    opacity: 1;
  }
}
