.vocab-definition {
    // display: flex;
    // flex-flow: row wrap;
    // justify-content: center;
    // align-items: center;

    display: grid;
    grid-template-columns: 20% 60% 20%;
    place-items: center;
    
    background-color: #eaddff; 

    padding: 8px;
    border-radius: 8px;

    & .definition-statistics {
        background-color: #6750a4 !important;
        color: white;

        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 4px 8px;
        margin: 0px 12px;

        & button {
            padding: 2px;
            margin: 2px 8px;
        }
    }

    & strong {
        place-self: center start;
        text-align: start !important;
    }

    & .vocab-definition-actions {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        & button {
            margin: 0 0.25rem;
        }
    }
}